@import '../../App.scss';
@import '../../styles/Animations.scss';

.listHeader-simples {
    display: flex;
}

.listHeader-analitico {
    display: none;
}

.listHeader {
    align-items: center;
    justify-content: center;
    border: 2px solid $nd-color;
    font-weight: bold;
    color: $main-color;
    background-color: $nd-color;

    .listField {
        text-align: center;
    }

    .pago {
        border-right: none;
    }

}