@import '../../App.scss';
@import '../../styles/Animations.scss';

.novoTitulo {
    display: flex;
    margin: 10px 10%;
    padding: 10px;
    background-color: $main-color;
    border-radius: $border;
    flex-direction: column;
    gap: 10px;

    legend {
        font-weight: bold;
        margin: 3px;
        text-align: center;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: $border;
    }

    textarea {
        height: 100px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .seletores {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .seletor{
            display: flex;
        }
        
    }

    .campo-agrupamento {
        grid-column: 1 / span 3;
    }

    .campo-pequeno {
        grid-column: span 1;
    }

    .campo-grande {
        grid-column: 1 / span 3;
    }

    .rodape {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
            height: 30px;
            border-radius: $border;
            border: none;
            color: white;
            font-weight: bold;
            background-color: $nd-color;

            &:hover {
                @extend .btn-Hover;
            }

            div {
                width: 30px;
                height: 30px;
                @extend .bg-default-config;
                background-image: url('../../assets/icons/save.png');
            }
        }

    }
}